#statistics {
    z-index: 1000;
}

.sta-tempBox{
    width:1000px;
    height:500px;
    position: absolute;
    z-index: 499;
}

.sta-temp{
    width: 80px;
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    z-index: 498;
    position: absolute;
    display: none;
    transition : all 0.1s linear;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: default;
    pointer-events: none;
}

.sta-box1{
    top: 0;
    left: 0;
}

.sta-box2{
    top: 0;
    left: 0;
}

.sta-visualize{
    display: block;
}